<ion-footer-bar no-tap-scroll="true" class="bar bar-footer">
	<div class="buttons">
		<button id="previous" class="button" ng-click="goPrevious()" ng-show="$state.current.name!='signup.step1'">
			<i class="fa fa-chevron-circle-left"></i>
		</button>
	</div>
	<div class="title">
		<span id="step-indicator-1" class="step-indicator">
			<i class="fa " ng-class="{'true':'fa-circle', 'false': 'fa-circle-o'}[$state.current.name==='signup.step1']"></i>
		</span>
		<span id="step-indicator-2" class="step-indicator">
			<i class="fa " ng-class="{'true':'fa-circle', 'false': 'fa-circle-o'}[$state.current.name==='signup.step2']"></i>
		</span>
		<span id="step-indicator-3" class="step-indicator">
			<i class="fa " ng-class="{'true':'fa-circle', 'false': 'fa-circle-o'}[$state.current.name==='signup.step3']"></i>
		</span>
	</div>
	<div class="buttons">
		<button id="next" class="button" ng-click="goNext()">
			<i class="fa calm " ng-class="{'true':'fa-check-circle', 'false': 'fa-chevron-circle-right'}[$state.current.name==='signup.step3']"></i>
		</button>
	</div>
</ion-footer>