<ion-footer-bar align-title="center" no-tap-scroll="true">
	<div class="buttons">
		
	</div>
	
	<h1 class="title">
		<i class="icon ionicons ion-ios-tennisball" style="color:#D7C745;"></i>
	</h1>
	
	<div class="buttons">
		
	</div>
</ion-footer-bar>