<ion-header-bar align-title="center" no-tap-scroll="true" style="border:0 none;">
	 <div class="buttons">
	    <button id="link-left" class="button icon ion-ios-help-outline">
	    </button>
	</div>
	<h1 class="title">
		<i class="icon ionicons ion-ios-tennisball" style="color:#D7C745;"></i>
	</h1>
	<div class="buttons">
	    <button id="link-right" class="button icon icon-right ion-log-in">
	    </button>
	</div>
</ion-header-bar>