<ion-header-bar no-tap-scroll="true" align-title="center" class="has-tabs-top">
    <div class="hidden-xs navbar">
    	<ul class="navbar-top">
            <li class="hidden-xs dropdown">
                <a href="#" title="Messages" id="messages" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-comments"></i>
                </a>
                <ul id="messages-menu" class="dropdown-menu messages" role="menu">
                    <li role="presentation">
                        <a href="#" class="message">
                            <img src="img/1.jpg" alt="">
                            <div class="details">
                                <div class="sender">Jane Hew</div>
                                <div class="text">
                                    Hey, John! How is it going? ...
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" title="2 match requests" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-group"></i>
                    <span class="count">2</span>
                </a>
                <ul id="support-menu" class="dropdown-menu support" role="menu">
                    <li role="presentation">
                        <a href="#" class="support-ticket">
                            <div class="picture">
                                <span class="label label-info"><i class="fa fa-info-circle"></i></span>
                            </div>
                            <div class="details">
                                Shall we play?
                            </div>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#" class="support-ticket">
                            <div class="picture">
                                <span class="label label-important"><i class="fa fa-plus"></i></span>
                            </div>
                            <div class="details">
                                I have to cancell our match tommorrow...
                            </div>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#" class="text-align-center see-all">
                            See all match requests <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>
            <li title="calendar">
            	<a href="component_calendar.html" class="link">
                    <i class="fa fa-calendar"></i>
                    <span class="count">3</span>
                </a>
            </li>
            <li title="sign out">
            	<a ui-sref="login">
            		<i class="fa fa-sign-out"></i>
            	</a>
            </li>
        </ul>
    </div>
    <div class="visible-xs" align-title="center" style="width:100%; position:relative">
        <button class="button icon ion-android-notifications" ng-click="toggleMenu()" ng-class="{true:'btn-menu-on'}[menuOpen]"></button>
        <h1 class="center row" style="position: absolute; top: 0;padding: 0; margin: 0 auto;">
            <i class="icon ionicons ion-ios-tennisball" style="color:#D7C745;"></i>
        </h1>
        <button class="button icon icon-right ion-navicon" ng-click="toggleMenu()" ng-class="{true:'btn-menu-on'}[menuOpen]" style="z-index:9999;position: absolute; right: 10px; top: -1px;"></button>
    </div>
</ion-header-bar>