<ion-content  id="addStepWrapper">
    <form class="no-margin form signUpForm" role="form" name="form.signUpForm3" id="signUpForm3" novalidate="" ng-init="setFormScope(this)" autocorrect="off"  autocomplete="off">
       
        <ion-scroll direction="y">
             <div class="list list-inset">
                <label class="item item-input" style="padding-left: 12px; color:#f8f8f8;"> 
                    <label style="color:#ddd;">First name:</label>&nbsp;<label style="text-overflow:elipsis;">{{registration.firstName}}</label>
                </label>

                <label class="item item-input" style="padding-left: 12px; color:#f8f8f8;">
                    <label style="color:#ddd;">Last name:</label>&nbsp;<label style="text-overflow:elipsis;">{{registration.lastName}}</label>
                </label>

                <label class="item item-input" style="padding-left: 12px; color:#f8f8f8;">
                    <label style="color:#ddd;">Nickname:</label>&nbsp;<label style="text-overflow:elipsis;">{{registration.nick}}</label>
                </label>

                <label class="item item-input" style="padding-left: 12px; color:#f8f8f8;">
                    <label style="color:#ddd;">E-mail:</label>&nbsp;<label style="text-overflow:elipsis;">{{registration.email}}</label>
                </label>

                <label class="item item-input" style="padding-left: 12px; color:#f8f8f8;">
                    <label style="color:#ddd;">Year of birth:</label>&nbsp;<label style="text-overflow:elipsis;">{{registration.yearOfBirth}}</label>
                </label>

                <label class="item item-input" style="padding-left: 12px; color:#f8f8f8;">
                    <label style="color:#ddd;">Gender:</label>&nbsp;<label style="text-overflow:elipsis;">{{registration.gender>0 ? 'Female' : 'Male'}}</label>
                </label>

                <label class="item item-input" style="padding-left: 12px; color:#f8f8f8;">
                    <label style="color:#ddd;">City:</label>&nbsp;<label style="text-overflow:elipsis;">{{registration.city}}</label>
                </label>

                <label class="item item-input" style="padding-left: 12px; color:#f8f8f8;">
                    <label style="color:#ddd;">State:</label>&nbsp;<label style="text-overflow:elipsis;">{{registration.countryState}}</label>
                </label>

                <label class="item item-input" style="padding-left: 12px; color:#f8f8f8;">
                    <label style="color:#ddd;">Country:</label>&nbsp;<label style="text-overflow:elipsis;">{{registration.country}}</label>
                </label>

                <label class="item item-input" style="padding-left: 12px; color:#f8f8f8;">
                    <label style="color:#ddd;">Skill level:</label>&nbsp;<label style="text-overflow:elipsis;">{{selectedValues.skill.skillLevel}}</label>
                </label>

                <label class="item item-input" style="padding-left: 12px; color:#f8f8f8;">
                    <label style="color:#ddd;">Playing style:</label>&nbsp;<label style="text-overflow:elipsis;">{{selectedValues.style.name}}</label>
                </label>

                <label class="item item-input" style="padding-left: 12px; color:#f8f8f8; border-bottom:0px;" ng-click="showEula()">
                    <span>I agree with EULA</span>
                    <ion-toggle ng-model="registration.eulaAgree" required style="width:100%;border-bottom:0;color:#ddd; padding-left: 0;">
                    </ion-toggle>
                </label>
            </div>
        </ion-scroll>
    </form>
</ion-content>