<ion-content id="addStepWrapper">
    <form class="no-margin form signUpForm" role="form" name="form.signUpForm2" novalidate="" id="signUpForm2" ng-init="setFormScope(this)" autocorrect="off"  autocomplete="off">
        <div class="list list-inset">
            <label class="item item-input" style="padding-left: 12px;">
                <i class="fa fa-user-secret placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[signUpForm2.nick.$valid]"></i>
                <input type="text" name="nick" placeholder="Enter Nickname" required ng-model="registration.nick" ></input>
            </label>

            <label class="item item-input" style="padding-left: 0px;">
                <div style="position: relative;width: 100%;">
                    <i class="fa fa-graduation-cap placeholder-icon icon-left" ng-class="{'true' : 'valid', 'false': 'invalid' }[signUpForm2.skillId.$valid]"></i>
                    <input type="text" name="skillId" class="dummy" ng-model="registration.skillId" required/>
                    <label class="item item-icon-right header-accordion" ng-click="toggleGroup(groups[0])">
                        <i class="icon icon ion-chevron-down"></i>
                        <span>&nbsp; Tennis Level&nbsp;{{selectedValues.skill.skillLevel}}</span>
                    </label>
                    <div class="list list-inset list-accordion" ng-show="isGroupShown(groups[0])">
                        <span class="list item-accordion" ng-repeat="skill in skills"  ng-click="selectedValues.skill=skill;toggleGroup(groups[0]);scrollTop();">
                            <label class="text-align-center item-divider content" >{{skill.name + ' - ' + skill.skillLevel}}</label>
                                <div class="item item-avatar">
                                    <span class="content">
                                        <h4 style="white-space: normal;">{{skill.description}}</h4>
                                    </span>
                                </div>
                            </label>
                        </span>
                    </div>
                </div>
            </label>
                
            <label class="item item-input" style="padding-left: 0px;">
                <div style="position: relative;width: 100%;">
                    <i class="fa fa-hand-rock-o placeholder-icon icon-left" ng-class="{'true' : 'valid', 'false': 'invalid' }[signUpForm2.playStyleId.$valid]"></i>
                    <input type="text" name="playStyleId" class="dummy" ng-model="registration.playStyleId" required/>
                    <label class="item item-icon-right header-accordion" ng-click="toggleGroup(groups[1])">
                        <i class="icon icon ion-chevron-down"></i>
                        <span>&nbsp; Playing Style&nbsp;{{selectedValues.style.name}}</span>
                    </label>
                    <div class="list list-inset list-accordion" ng-show="isGroupShown(groups[1])">
                        <span class="list item-accordion" ng-repeat="style in styles" ng-click="selectedValues.style=style;toggleGroup(groups[1]);scrollTop();">
                            <label class="text-align-center item-divider content" >{{style.name}}</label>
                                <div class="item item-avatar">
                                    <span class="content">
                                        <h4 style="white-space: normal;" ng-show="style.description && style.description.length > 0">{{style.description}}</h4>
                                    </span>
                                </div>
                            </label>
                        </span>
                    </div>
                </div>
            </label>

            <label class="item item-input" style="padding-left: 12px;">
                <i class="fa fa-child placeholder-icon" style="font-size: 20px;" ng-class="{'true' : 'valid', 'false': 'invalid' }[signUpForm2.yearOfBirth.$valid]"></i>
                <input type="number" min="1915" name="yearOfBirth"  style="padding-right:0;" placeholder="Enter Year of birth" ng-model="registration.yearOfBirth" required ></input>
            </label>

            <label class="item range range-balanced" style="padding-left: 12px;">
                <i class="fa placeholder-icon valid" ng-class="{'0' : 'fa-mars', '1' : 'fa-venus' }[registration.gender]"></i>
                <label for="gender">
                    Gender:
                </label>
                <div class="item range range-positive" style="width:145px;margin-left: 35px;">
                    <i class="fa fa-male"></i>
                    <input type="range" name="gender" ng-model="registration.gender" min="0" max="1" value="0">
                    <i class="fa fa-female"></i>
                </div>
            </label>
            
            <label class="item item-input" style="padding-left: 0px;">
               <div style="position: relative; width: 100%;">
                    <ion-item class="item-input" style="padding-left: 12px;">
                        <i class="icon ionicons ion-location placeholder-icon" style="font-size:24px;" ng-class="{'true' : 'valid', 'false': 'invalid' }[signUpForm2.city.$valid]"></i>
                        <label for="city">
                            City:
                        </label>
                        <input type="text" id="city" name="city" ng-model="registration.city" readonly required>
                    </ion-item>
                    <ion-item class="item-input" style="padding-left: 12px;">
                        <i class="icon ionicons ion-location placeholder-icon" style="font-size:24px;" ng-class="{'true' : 'valid', 'false': 'invalid' }[signUpForm2.countryState.$valid]"></i>
                        <label for="state">
                            State:
                        </label>
                        <input type="text" id="countryState" name="countryState" ng-model="registration.countryState" readonly>
                    </ion-item>
                    <ion-item class="item-input" style="padding-left: 12px; border-bottom:0;">
                        <i class="icon ionicons ion-location placeholder-icon" style="font-size:24px;" ng-class="{'true' : 'valid', 'false': 'invalid' }[signUpForm2.country.$valid]"></i>
                        <label for="country">
                            Country:
                        </label>
                        <input type="text" id="country" name="country" ng-model="registration.country" readonly required>
                    </ion-item>

                    <ion-google-place search-placeholder="Enter City" button-id="btnSearchCity" ng-model="selectedValues.cityCountry"></ion-google-place>

                    <button id="btnSearchCity" class="button-calm button-round button-icon button-float button-assertive ion-search" style="bottom: 52% !important; color:#f8f8f8; background-color: #555;"/>
                </div>
            </label>
        </div>
    </form>
</ion-content>
   