<ion-content id="addStepWrapper">
  <form class="no-margin form signUpForm" role="form" name="form.signUpForm1" novalidate="" id="signUpForm1" ng-init="setFormScope(this)" autocorrect="off"  autocomplete="off">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="fa fa-user placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[signUpForm1.firstName.$valid]"></i>
          <input type="text" name="firstName" placeholder="Enter First name" ng-model="registration.firstName" required ></input>
        </label>

        <label class="item item-input">
          <i class="fa fa-user placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[signUpForm1.lasteName.$valid]"></i>
          <input type="text" name="lasteName" placeholder="Enter Last name" ng-model="registration.lastName" required ></input>
        </label>
        
        <label class="item item-input">
          <i class="fa fa-envelope placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[signUpForm1.email.$valid]"></i>
          <input type="email" name="email" placeholder="Enter E-mail" ng-model="registration.email" required></input>
        </label>
        
        <label class="item item-input">
          <i class="fa fa-lock placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[signUpForm1.pwd1.$valid]"></i>
          <input type="password" password-toggle="password" id="pwd1" name="pwd1" placeholder="Enter Password" ng-model="registration.pwd" required></input>
        </label>
        
        <label class="item item-input">
          <i class="fa fa-lock placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[signUpForm1.pwd2.$valid]"></i>
          <input type="password" password-toggle="password" id="pwd2" name="pwd2" placeholder="Confirm Password" ng-model="registration.confirmPwd" required></input>
        </label>
      </div>
  </form>
</ion-content>