<ion-view>
<tm-header ></tm-header>
<ion-content id="addStepWrapper" >
	<div class="center">
		<img src="./img/work-in-progress.png" />
	</div>
</ion-content>
<ion-footer-bar tm-footer />
</ion-view>