<ion-view>
	<tm-header ></tm-header>
	<ion-content id="addStepWrapper" class="center">
		<div class="list list-inset">
			
			<div class="item">

				{{ data.date }} <br>

				<button class="button button-block button-positive"
					ng-click="pick('date')">pick date</button>
			</div>

			<div class="item">

				{{ data.time }} <br>

				<button class="button button-block button-positive"
					ng-click="pick('time')">pick time</button>

			</div>
		</div>
	<ion-footer-bar tm-footer></ion-footer-bar>
	</ion-content>
</ion-view>