﻿<ion-view title="Login" ng-init="clearLoginData()">
  <!--
  <tm-login-header type="login">
  </tm-login-header>
  -->
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <form class="list" role="form" novalidate="" name="loginform" autocomplete="off" autocorrect="off" ng-submit="loginform.$valid && login()">
        <ion-list>
          <label class="item item-input" name="userName">
            <i class="fa fa-envelope icon placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[loginform.userName.$valid]"></i>
            <input type="email" name="userName" required placeholder="Enter E-mail" ng-model="loginData.userName">
          </label>

          <label class="item item-input" name="userName">
            <i class="fa fa-lock icon placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[loginform.pwd.$valid]"></i>
            <input type="password" name="pwd" password-toggle="password" required placeholder="Enter Password" ng-model="loginData.pwd">
          </label>
        </ion-list>  
          <!--
            <div class="spacer" style="height: 30px;"></div>
            <label class="item" style="color:inherit; border:none;padding-right: 0;padding-left: 0;">
            <ion-toggle  ng-model="loginData.rememberMe" style="color:inherit; border:none; font-size: 14px;padding-left: 0;">
              Remember Me
            </ion-toggle>
          </label>
          -->
          <div class="spacer" style="height: 40px;"></div>
          <button class="button button-block" ng-class="{'true' : 'button-balanced', 'false': 'button-assertive' }[loginform.$valid]" style="width: 100%;">Sign In</button>
    </form>

    <!-- //DO NOT DELETE
    <div class="text-align-center" style="padding-top:10px; padding-bottom:10px;margin-top: 25px;">
      <button class="social-login fb" title="Sign in with Facebook account" ng-click="signUp('facebook')">
        <i class="fa fa-facebook-square fa-lg"></i>
      </button>
      <a href="#" class="yh" title="Sign in with Yahoo account"><i class="fa fa-yahoo"></i></a>
      <button class="social-login wl" title="Sign in with WindowsLive account" ng-click="signUp('wl')">
        <i class="fa fa-windows live"></i>
      </button>
    
      <button class="social-login gp" title="Sign in with Google account" ng-click="signUp('google')">
        <i class="fa fa-google"></i>
      </button>
      <a href="#" class="in" data-toggle="tooltip" title="Sign in with LinkedIn account"><i class="fa fa-linkedin"></i></a>
    </div>
    -->     
  </ion-content>

  <!--
  <tm-login-footer type="login" />
  -->
</ion-view>