<!--<h4>MATCH - {{cmdParam}} </h4>-->
<ion-view>
	<tm-header ></tm-header>
	<ion-content id="addStepWrapper">
		<div class="tabs-striped tabs-top ">
			<div class="tabs">
				<a class="tab-item active" role="tab" ng-click="tab=1" ng-class="tab===1 ? 'active' : ''" data-toggle="tab" data-target="#matchDirect">
			        DIRECT
		      	</a>
		      	<a class="tab-item" role="tab" ng-click="tab=2" ng-class="tab===2 ? 'active' : ''" data-toggle="tab" data-target="#matchOpen">
			        OPEN
		      	</a>
			</div>
		</div>
		
		<div class="tab-pane clearfix active" ng-show="details.openForm && details.type=='opponent' && details.enabled" id="detailsTab" name="detailsTab">
			<div class="list list-inset" ng-show="search.type=='opponent'" style="margin-top:0px;">
				<ion-item class="item item-divider item-button-right">
					Opponent details
					<button class="button button-clear fa fa-times-circle" style="font-size: 19px;top:4px; right:0px;" ng-click="details.show();">
					</button>
				</ion-item>
				<ion-item class="item-thumbnail-left">
					<img ng-src="{{selectedValues.opponent.avatarUrl}}">
					<h2 class="h2" ng-bind-html="selectedValues.opponent.nickName"></h2>
					<h3 style="line-height:1.4;" ng-bind-html="selectedValues.opponent.name"></h3>
					<h4 style="line-height:1.2;" ng-show="selectedValues.opponent.skillLevel" ng-bind-html="'Level: '+selectedValues.opponent.skillLevel"></h4>
					<h4 style="line-height:1.2;" ng-show="selectedValues.opponent.playingStyle" ng-bind-html="'Play style: '+selectedValues.opponent.playingStyle"></h4>
					<h4 style="line-height:1.2;" ng-show="selectedValues.opponent.age" ng-bind-html="selectedValues.opponent.age+' years old'"></h4>
				</ion-item>
				<ion-item class="item item-divider">
					<span style="width:40%">Invitation</span>
					<ion-checkbox ng-model="selectedValues.invitation.enabled" ng-checked="selectedValues.invitation.enabled" style="border: 0px; right: 0px;padding-right: 2px;top: 4px;position: absolute;" />
				</ion-item>
				<div class="list list-inset" ng-show="selectedValues.invitation.enabled" style="margin-top:0px;">
					<ion-item class="item item-divider" style="padding-left:5px;">
						Response due
					</ion-item>
					<ion-item class="item item-input" style="padding-left: 0px;">
						<select ng-model="selectedValues.invitation.responseHours" ng-options="responseHour.value as responseHour.text for responseHour in responseHours">
							<option value="" style="display:none;" selected="selected">Choose response due time</option>
						</select>
					</ion-item>
					<ion-item class="item item-divider" style="padding-left:5px;">
						Message
						<span id="charCounter" style="font-size: 11px; position: absolute; right: 5px; margin-bottom: 4px;"></span>
					</ion-item>
					<ion-item style="padding:0px;padding-bottom: 16px;border-bottom: solid 1px #ddd;">
						<div class="row" style="padding:0px;">
      						<div class="col" style="padding:0px;">
      							<label class="item item-input text" style="padding:0px; border:0;width:100%;">
      								<textarea char-limit="225" placeholder="Write your message here..." rows="6" ng-model="selectedValues.invitation.discussion.message" required name="invitationDiscussionMessage" style="width:100%">
      								</textarea>
      							</label>
      						</div>
      					</div>
					</ion-item>
				</div>
			</div>
		</div>

		<div class="tab-pane clearfix active" ng-show="search.enabled" id="searchTab" name="searchTab">
			<div class="bar bar-header item-input-inset">
	            <label class="item-input-wrapper" ng-show="search.type=='opponent'">
	                <i class="icon ionicons ion-search placeholder-icon"></i>
	                <input type="search" ng-model="search.query" ng-click="search.query=''" ng-change="searchOpponents(search.query)" autocomplete="off" autocorrect="off" placeholder="E-mail, Name, Nickname ...">
	                <i class="fa fa-circle-o-notch fa-spin" style="font-size: 20px; color:rgba(51, 51, 51, 0.25) !important;" ng-show="isLoading"></i>
	            </label>
	            <label class="item-input-wrapper" ng-show="search.type=='court'">
	                <i class="icon ionicons ion-search placeholder-icon"></i>
	                <input type="search" ng-model="search.query" ng-click="search.query=''" ng-change="searchCourts(search.query)" autocomplete="off" autocorrect="off" placeholder="Court or Club Name ...">
	                <i class="fa fa-circle-o-notch fa-spin" style="font-size: 20px; color:rgba(51, 51, 51, 0.25) !important;" ng-show="isLoading"></i>
	            </label>
	            <button class="button button-clear fa fa-times-circle" style="font-size: 19px;" ng-click="search.enabled=false; details.enabled=false">
	            </button>
	        </div>
	        <div class="list list-inset" ng-show="search.type=='opponent'" style="margin-top:0px;">
                <div class="item item-avatar item-button-right" ng-repeat="item in filteredOpponentCandidates" style="border-left:0;border-right:0; margin-top:5px; color:#f8f8f8;">
                	
					<img ng-src="{{item.avatarUrl}}"/>
					
					<div class="item-text-wrap">
						<h2 class="h2" ng-bind-html="item.nickName"></h2>
						<h3 style="line-height:1.4;" ng-bind-html="item.firstName+'&nbsp;'+item.lastName"></h3>
						<h4 style="line-height:1.2;" ng-bind-html="item.city+', '+item.country"></h4>
						<h4 style="line-height:1.2;" ng-bind-html="item.age+' years old'"></h4>
						<h4 style="line-height:1.2;" ng-bind-html="'Level: '+item.skillLevel"></h4>
					</div>
					
					<button class="button button-round button-calm ionicons ion-plus" ng-click="addOpponent(item)" style="position: absolute; top: 50%;">
					</button>
					
                </div>
            </div>
            <ion-scroll direction="y">
	            <div class="list list-inset" ng-show="search.type=='court'">
	                <div class="item item-avatar item-button-right" ng-repeat="item in filteredCourts" style="border-left:0;border-right:0; margin-top:5px; color:#f8f8f8;">
	                	
						<img ng-src="{{item.avatarUrl}}"/>
						
						<div class="item-text-wrap">
							<h2 class="h2" ng-bind-html="item.name"></h2>
							<h3 style="line-height:1.4;" ng-bind-html="item.formatted_address"></h3>
							<h4 style="line-height:1.2;" ng-bind-html="'Lat: '+item.geometry.location.lat()+', Lng: '+item.geometry.location.lng()"></h4>
						</div>
						
						<button class="button button-round button-calm ionicons ion-plus" ng-click="addCourt(item)" style="position: absolute; top: 50%;">
						</button>
						
	                </div>
	            </div>
	        </ion-scroll>
	    </div>
		<div class="tab-content">
			<div id="matchDirect" class="tab-pane clearfix active" ng-show="tab===1 && !search.enabled && !details.openForm">
				<form class="no-margin form" role="form" novalidate="" name="matchDirect" id="matchDirect" autocorrect="off" autocomplete="off" ng-submit="matchDirect.$valid && Register()">
					<div class="list list-inset">
						<label class="item item-divider">
							Date &amp; Time
						</label>
						<ion-item class="item item-avatar">
	                        <img ng-src="./img/avatars/calendar.png" ng-class="{'true' : 'valid', 'false': 'invalid' }[matchDirect.matchTime.$valid]"></img>
                        	<input type="datetime-local" ng-model="selectedValues.invitation.expirationDate" name="matchTime" placeholder="Match date &amp; time" required style="width:100%"/>
						</ion-item>
						<label class="item item-divider">
							Court
						</label>
						<ion-item class="item item-avatar item-button-right">
							<img ng-src="{{selectedValues.court.avatarUrl}}" />
							<div ng-click="details.type='court';details.enabled=!details.enabled;">
								<h2 class="h2" ng-bind-html="selectedValues.court.name"></h2>
								<h3 style="line-height:1.4;" ng-bind-html="selectedValues.court.addressLine1"></h3>
								<div ng-show="details.type=='court' && details.enabled">
									<h4 style="line-height:1.2;" ng-show="selectedValues.court.lat && selectedValues.court.lon" ng-bind-html="'Lat: '+selectedValues.court.lat+', Lng: '+selectedValues.court.lon"></h4>
								</div>
							</div>
								
							<div class="button button-round" style="top:16px;" ng-click="search.show('court');" >
								<i class="ionicons " style="font-size:28px; color:#f8f8f8;" ng-class="{true: 'ion-edit', false: 'ion-search'}[details.type=='court' && details.enabled]"></i>
							</div>
						</ion-item>
						<label class="item item-divider" ng-show="selectedValues.court.lat && selectedValues.court.lon">
							Opponent
						</label>
						<ion-item class="item item-avatar item-button-right" ng-show="selectedValues.court.lat && selectedValues.court.lon">
							<img ng-src="{{selectedValues.opponent.avatarUrl}}" />								
							<div ng-click="details.type='opponent';details.enabled=!details.enabled;">
								<h2 ng-bind-html="selectedValues.opponent.nickName"></h2>
								<h3 style="line-height:1.4;" ng-show="selectedValues.opponent.name" ng-bind-html="selectedValues.opponent.name"></h3>
								<div ng-show="details.type=='opponent' && details.enabled">
									<h4 style="line-height:1.2;" ng-show="selectedValues.opponent.skillLevel" ng-bind-html="'Level: '+selectedValues.opponent.skillLevel"></h4>
									<h4 style="line-height:1.2;" ng-show="selectedValues.opponent.playingStyle" ng-bind-html="'Play style: '+selectedValues.opponent.playingStyle"></h4>
									<h4 style="line-height:1.2;" ng-show="selectedValues.opponent.age" ng-bind-html="selectedValues.opponent.age+' years old'"></h4>
								</div>
							</div>
							<div class="button button-round" style="top:16px;" ng-click="details.show('opponent');" ng-show="details.type=='opponent' && details.enabled">
								<i class="ionicons ion-edit" style="font-size:28px; color:#f8f8f8;" ></i>
							</div>
							<div class="button button-round" style="top:16px;" ng-click="search.show('opponent')" ng-show="details.type!='opponent' || !details.enabled">
								<i class="ionicons ion-search" style="font-size:28px; color:#f8f8f8;" ></i>
							</div>
						</ion-item>

						<label class="item item-input" style="padding-left:0;">
							<div class="row">
								<button type="submit" class="button button-block button-assertive" ng-class="{true : 'button-balanced', false: 'button-assertive' }[matchDirect.$valid]">
									Submit
								</button>
							</div>
						</label>
					</div>
				</form>
			</div>
			<div id="matchOpen" class="tab-pane clearfix active" ng-show="tab===2 && !search.enabled">
				<div class="list list-inset">
					<div class="center">
						<img src="./img/work-in-progress.png" />
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<tm-footer>
	</tm-footer>
</ion-view>