<ion-view ng-init="initMates()">
	<tm-header ></tm-header>
	<ion-content id="addStepWrapper" >
		<div class="tabs-striped tabs-top">
			<div class="tabs">
				<a class="tab-item" role="tab" ng-click="tabs.currentTab=1" ng-class="tabs.currentTab==1 ? 'active' : ''" data-toggle="tab" data-target="#myMates">
			        MY MATES
		      	</a>
		      	<a class="tab-item" role="tab" ng-click="tabs.currentTab=2" ng-class="tabs.currentTab==2 ? 'active' : ''" data-toggle="tab" data-target="#addMates">
			        ADD NEW MATES
		      	</a>
			</div>
		</div>
		<div class="bar bar-header item-input-inset" ng-show="search.enabled">
            <label class="item-input-wrapper">
                <i class="icon ionicons ion-search placeholder-icon"></i>
                <input type="search" ng-model="search.query" ng-click="search.query=''" ng-change="searchMates(search.query)" autocomplete="off" autocorrect="off" placeholder="E-mail, Name, Nickname ...">
                <i class="fa fa-circle-o-notch fa-spin" style="font-size: 20px; color:rgba(51, 51, 51, 0.25) !important;" ng-show="isLoading"></i>
            </label>
        </div>
		<div class="tab-content">
			<div id="myMates" class="tab-pane clearfix active" ng-show="tabs.currentTab==1">
				<div class="list list-inset">
					<ion-item class="item-avatar item-button-right" ng-repeat="mate in myMates" style="border-left:0;border-right:0; margin-top:5px; color:#f8f8f8;">
						<img ng-src="{{mate.avatarUrl}}">
						<div class="item-text-wrap list-grow-animation" ng-click="editMode[$index].enabled = !editMode[$index].enabled">
							<h2 class="h2" ng-bind-html="mate.nickName"></h2>
							<h3 style="line-height:1.4;" ng-bind-html="mate.firstName+'&nbsp;'+mate.lastName"></h3>
							<div ng-show="editMode[$index].enabled">
								<h4 style="line-height:1.2;" ng-bind-html="mate.city+', '+mate.country"></h4>
								<h4 style="line-height:1.2;" ng-bind-html="mate.age+' years old'"></h4>
								<h4 style="line-height:1.2;" ng-bind-html="'Level: '+mate.skillLevel"></h4>
							</div>
						</div>
						<button class="button button-round button-assertive ionicons ion-minus-round" ng-click="removeMate(mate)" ng-show="editMode[$index].enabled" style="position: absolute; top: 50%;">
						</button>
					</ion-item>
				</div>
			</div>
			<div id="addMates" class="tab-pane clearfix active" ng-show="tabs.currentTab==2">
                <div class="list list-inset">
                    <div class="item item-avatar item-button-right" ng-repeat="item in mateCandidates" style="border-left:0;border-right:0; margin-top:5px; color:#f8f8f8;" ng-click="selectMate(item)">
                    	
						<img ng-src="{{item.avatarUrl}}"/>
						
						<div class="item-text-wrap">
							<h2 class="h2" ng-bind-html="item.nickName"></h2>
							<h3 style="line-height:1.4;" ng-bind-html="item.firstName+'&nbsp;'+item.lastName"></h3>
							<h4 style="line-height:1.2;" ng-bind-html="item.city+', '+item.country"></h4>
							<h4 style="line-height:1.2;" ng-bind-html="item.age+' years old'"></h4>
							<h4 style="line-height:1.2;" ng-bind-html="'Level: '+item.skillLevel"></h4>
						</div>
						
						<button class="button button-round button-calm ionicons ion-person-add" ng-click="addMate(item)" style="position: absolute; top: 50%;">
						</button>
						
                    </div>
                </div>
			</div>
		</div>
	</ion-content>
	<tm-footer>
	</tm-footer>
</ion-view>