<ion-view  ng-init="initProfile()">
	<tm-header ></tm-header>
	<ion-content id="addStepWrapper" >
    	<form class="no-margin form" role="form" name="profileForm" id="profileForm" novalidate="" autocomplete="off" autocorrection="off">
    		<div class="list">
                <ion-item class="center">
                    <img class="img-circle" ng-src="{{profile.avatarUrl}}" alt="avatar" style="height: 112px;">
                </ion-item>
                <!--GROUP-->
	    		<ion-item class="item item-divider item-icon-right" ng-click="toggleGroup(groups[0])">
	        		&nbsp;Personal info 
	        		<i class="icon" ng-class="isGroupShown(groups[0]) ? 'ion-minus' : 'ion-plus'"></i>
	    		</ion-item>

	    		<ion-item class="item-input item-accordion" ng-show="isGroupShown(groups[0])">
        			<i class="icon fa fa-envelope placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.email.$valid]"></i>
        			<label for="email">
	                    Email:
	                </label>
        			<input type="email" id="email" name="email" ng-model="profile.email" required />
      			</ion-item>
      			<ion-item class="item-input item-accordion" ng-show="isGroupShown(groups[0])">
        			<i class="icon fa fa-user-secret placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.nickname.$valid]"></i>
        			<label for="nickname">
	                    Nickname:
	                </label>
        			<input type="text" id="nickname" name="nickname" ng-model="profile.nick" required>
      			</ion-item>
      			<ion-item class="item-input item-accordion" ng-show="isGroupShown(groups[0])">
        			<i class="icon fa fa-user placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.firstName.$valid]"></i>
        			<label for="firstName">
	                    First name:
	                </label>
        			<input type="text" id="firstName" name="firstName" ng-model="profile.firstName" required>
      			</ion-item>
      			<ion-item class="item-input item-accordion" ng-show="isGroupShown(groups[0])">
        			<i class="icon fa fa-user placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.lastName.$valid]"></i>
        			<label for="lastName">
	                    Last name:
	                </label>
        			<input type="text" id="lastName" name="lastName" ng-model="profile.lastName" required>
      			</ion-item>
      			<ion-item class="item-input item-accordion range range-calm" ng-show="isGroupShown(groups[0])">
        			<i class="icon fa fa-transgender valid"></i>
        			<label for="gender">
	                    Gender:
	                </label>
        			<i class="icon fa fa-male" ng-class="profile.gender==0 ? 'valid' : ''"></i>
                    <input type="range" name="gender" id="gender" ng-model="profile.gender" min="0" max="1" value="0" style="max-width:65px; float:right;">
                    <i class="icon fa fa-female" ng-class="profile.gender==0 ? '' : 'valid'"></i>
      			</ion-item>
      			<ion-item class="item-input item-accordion" ng-show="isGroupShown(groups[0])">
        			<i class="icon fa fa-child placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.yearOfBirth.$valid]"></i>
        			<label for="yearOfBirth">
	                    Year of birth:
	                </label>
	                <select ng-model="profile.yearOfBirth" name="yearOfBirth" ng-options="year.id as year.text for year in years" required>
						<option value="" style="display:none;" selected="selected">Choose year</option>
					</select>
        			<!--<input type="tel" min="1915" id="yearOfBirth" name="yearOfBirth" ng-model="profile.yearOfBirth" required>-->
      			</ion-item>
      			<ion-item class="item-input item-accordion" ng-show="isGroupShown(groups[0])">
        			<i class="icon fa fa-phone-square placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.phone.$valid]"></i>
        			<label for="phone">
	                    Phone:
	                </label>
        			<input type="tel" id="phone" name="phone" ng-model="profile.phone">
      			</ion-item>
      			<ion-item class="item-input item-accordion" ng-show="isGroupShown(groups[0])">
        			<i class="icon ionicons ion-home placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.address1.$valid]"></i>
        			<label for="address1">
	                    Address1:
	                </label>
        			<input type="text" id="address1" name="address1" ng-model="profile.address1">
      			</ion-item>
      			<ion-item class="item-input item-accordion" ng-show="isGroupShown(groups[0])">
        			<i class="icon ionicons ion-home placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.address2.$valid]"></i>
        			<label for="address2">
	                    Address2:
	                </label>
        			<input type="text" id="address2" name="address2" ng-model="profile.address2">
      			</ion-item>
      			<ion-item class="item-input item-accordion" ng-show="isGroupShown(groups[0])">
        			<i class="icon ionicons ion-location placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.zip.$valid]"></i>
        			<label for="zip">
	                    Zip code:
	                </label>
        			<input type="number" string-to-number id="zip" name="zip" ng-model="profile.zip" ng-readonly="{{profile.zip.length>0}}" />
      			</ion-item>
      			<div style="position: relative;" ng-show="isGroupShown(groups[0])">
	      			<ion-item class="item-input item-accordion">
	        			<i class="icon ionicons ion-location placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.city.$valid]"></i>
	        			<label for="city">
		                    City:
		                </label>
	        			<input type="text" id="city" name="city" ng-model="profile.city" readonly />
	      			</ion-item>
	      			<ion-item class="item-input item-accordion">
	        			<i class="icon ionicons ion-location placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.state.$valid]"></i>
	        			<label for="state">
		                    State:
		                </label>
	        			<input type="text" id="state" name="state" ng-model="profile.countryState" readonly>
	      			</ion-item>
	      			<ion-item class="item-input item-accordion">
	        			<i class="icon ionicons ion-location placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.country.$valid]"></i>
	        			<label for="country">
		                    Country:
		                </label>
	        			<input type="text" id="country" name="country" ng-model="profile.country" readonly>
	      			</ion-item>

	      			<ion-google-place id="igpCityCountry" search-placeholder="Enter City" search-type="geocode" button-id="btnSearchCity" ng-model="selectedValues.cityCountry"></ion-google-place>

	      			<button id="btnSearchCity" class="button-round button-icon button-float ion-search" style="bottom: 52% !important; color:#f8f8f8; background-color: #555;" />
		    	</div>

		    	<ion-item class="item-input item-accordion"  ng-show="isGroupShown(groups[0])">
        			
      			</ion-item>
		    	

      			<!--GROUP-->
      			<ion-item class="item item-divider item-icon-right" ng-click="toggleGroup(groups[1])">
	        		&nbsp;Play style &amp; skills
	        		<i class="icon" ng-class="isGroupShown(groups[1]) ? 'ion-minus' : 'ion-plus'"></i>
	    		</ion-item>

	    		<ion-item class="item-input item-accordion"  ng-show="isGroupShown(groups[1])">
		    		<label class="item item-input" style="padding-left: 0px; width:100%">
		                <div style="position: relative; width: 100%;">
		                    <i class="fa fa-graduation-cap placeholder-icon icon-left" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.skillId.$valid]"></i>
		                    <input type="text" name="skillId" class="dummy" ng-model="profile.skillId" required/>
		                    <label class="item item-icon-right header-accordion" ng-click="selectedValues.skills_expanded = !selectedValues.skills_expanded">
		                    	<i class="icon icon ion-chevron-down"></i>
		                        <span style="color:rgba(255, 255, 255, 0.4);">&nbsp; Tennis Level:&nbsp;
		                        	<span ng-show="selectedValues.skill.name && selectedValues.skill.skillLevel" style="color:#f8f8f8;">
		                        		{{selectedValues.skill.name + ' - ' + selectedValues.skill.skillLevel}}
		                        	</span>
		                        </span>
		                    </label>
		                    <div class="list list-inset list-accordion" ng-show="selectedValues.skills_expanded">
		                        <span class="list item-accordion" ng-repeat="skill in skills" ng-click="selectedValues.skill=skill;selectedValues.skills_expanded=false">
		                            <label class="text-align-center item-divider content" >{{skill.name + ' - ' + skill.skillLevel}}</label>
		                                <div class="item item-avatar">
		                                    <span class="content">
		                                        <h4 style="white-space: normal;">{{skill.description}}</h4>
		                                    </span>
		                                </div>
		                            </label>
		                        </span>
		                    </div>
		                </div>
		            </label>
		        </ion-item>

		        <ion-item class="item-input item-accordion"  ng-show="isGroupShown(groups[1])">
			        <label class="item item-input" style="padding-left: 0px;width:100%">
		                <div style="position: relative;width: 100%;">
		                    <i class="fa fa-hand-rock-o placeholder-icon icon-left" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.playingStyleId.$valid]"></i>
		                    <input type="text" name="playingStyleId" class="dummy" ng-model="profile.playingStyleId" required/>
		                    <label class="item item-icon-right header-accordion" ng-click="selectedValues.style_expanded = !selectedValues.style_expanded">
		                        <i class="icon icon ion-chevron-down"></i>
		                        <span style="color:rgba(255, 255, 255, 0.4);">&nbsp; Playing Style: &nbsp;
		                        	<span ng-show="selectedValues.style.name" style="color:#f8f8f8;">
		                        		{{selectedValues.style.name}}
		                        	</span>
		                        </span>
		                    </label>
		                    <div class="list list-inset list-accordion" ng-show="selectedValues.style_expanded">
		                        <span class="list item-accordion" ng-repeat="style in styles" ng-click="selectedValues.style=style;selectedValues.style_expanded = false;">
		                            <label class="text-align-center item-divider content" >{{style.name}}</label>
		                                <div class="item item-avatar">
		                                    <span class="content" ng-show="style.description && style.description.length > 0">
		                                        <h4 style="white-space: normal;" ng-show="style.description && style.description.length > 0">{{style.description}}</h4>
		                                    </span>
		                                </div>
		                            </label>
		                        </span>
		                    </div>
		                </div>
		            </label>
		        </ion-item>

	    		<!--GROUP-->
	    		<ion-item class="item item-divider item-icon-right" ng-click="toggleGroup(groups[2])">
	        		&nbsp;Favorites
	        		<i class="icon" ng-class="isGroupShown(groups[2]) ? 'ion-minus' : 'ion-plus'"></i>
	    		</ion-item>

	    		<ion-item class="item-input item-accordion" ng-show="isGroupShown(groups[2])">
	    			<label class="item item-input" style="padding-left: 0px;width:100%">
		                <div style="position: relative;width: 100%;">
		                	<i class="ionicons ion-ios-tennisball placeholder-icon icon-left" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.favoriteCourtTypeId.$valid]"></i>
		                    <input type="text" name="favoriteCourtTypeId" class="dummy" ng-model="profile.favoriteCourtTypeId" required/>
		                    <label class="item item-icon-right header-accordion" ng-click="selectedValues.courtTypes_expanded = !selectedValues.courtTypes_expanded">
		                        <i class="icon icon ion-chevron-down"></i>
		                        <span style="color:rgba(255, 255, 255, 0.4);">
		                        	&nbsp; Court type:&nbsp;
		                        	<span ng-show="selectedValues.courtType.name" style="color:#f8f8f8;"> 
		                        		{{selectedValues.courtType.name}}
		                        	</span>
		                        </span>
		                    </label>
		                    <div class="list list-inset list-accordion" ng-show="selectedValues.courtTypes_expanded">
		                        <div class="list item-accordion" ng-repeat="courtType in courtTypes" ng-click="selectedValues.courtType=courtType;selectedValues.courtTypes_expanded = false;">
		                            <label class="text-align-center item-divider content" >{{courtType.name}}</label>
		                            	<div></div>
		                        </div>
		                    </div>
		                </div>
		            </label>
	    		</ion-item>

	    		<ion-item class="item-input item-accordion" ng-show="isGroupShown(groups[2])">
		    		<label class="item item-input" style="padding-left: 0px;width:100%">
		    			<div style="position: relative;width: 100%;">
				    		<i class="ionicons ion-ios-tennisball placeholder-icon icon-left" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.favoriteCourtId.$valid]"></i>
			                <input type="text" name="favoriteCourtId" class="dummy" ng-model="profile.favoriteCourtId" required/>
				    		<label class="item item-icon-right header-accordion" ng-show="isGroupShown(groups[2])" ng-click="selectedValues.courts_expanded = !selectedValues.courts_expanded">
								<i class="icon icon ion-chevron-down"></i>
								<span style="color:rgba(255, 255, 255, 0.4);">
									&nbsp; Court:&nbsp;
									<span ng-show="selectedValues.court.name" style="color:#f8f8f8;"> 
										{{selectedValues.court.name}}
									</span>
								</span>
							</label>
							<ion-item class="item item-avatar item-button-right" ng-show="selectedValues.courts_expanded" style="border:0px;">
								<img ng-src="{{selectedValues.court.avatarUrl}}" />
								<h3 style="line-height:1.4;" ng-bind-html="selectedValues.court.addressLine1"></h3>
								<h4 style="line-height:1.2;" ng-show="selectedValues.court.zip && selectedValues.court.city" ng-bind-html="selectedValues.court.zip + ', ' + selectedValues.court.city"></h4>
								
								<ion-google-place search-placeholder="Search..." search-type="court" button-id="btnSearchCourt" ng-model="selectedValues.court"></ion-google-place>
								<div id="btnSearchCourt" class="button button-round" style="top:16px;" >
									<i class="ionicons ion-search" style="font-size:28px; color:#f8f8f8;"></i>
								</div>
							</ion-item>
						</div>
					</label>
				</ion-item>

	    		<ion-item class="item-input item-accordion"  ng-show="isGroupShown(groups[2])">
	    			<label class="item item-input" style="padding-left: 0px;width:100%">
		                <div style="position: relative;width: 100%;">
		                	<i class="ionicons ion-ios-tennisball placeholder-icon icon-left" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.favoriteClubId.$valid]"></i>
		                    <input type="text" name="favoriteClubId" class="dummy" ng-model="profile.favoriteClubId" required/>
		                    <label class="item item-icon-right header-accordion" ng-click="selectedValues.communities_expanded = !selectedValues.communities_expanded">
		                        <i class="icon icon ion-chevron-down"></i>
		                        <span style="color:rgba(255, 255, 255, 0.4);">
		                        	&nbsp; Community:&nbsp;
		                        	<span ng-show="selectedValues.community.name" style="color:#f8f8f8;"> 
		                        		{{selectedValues.community.name}}
		                        	</span>
		                        </span>
		                    </label>
		                    <ion-item class="item item-avatar item-button-right" ng-show="selectedValues.communities_expanded" style="border:0px;">
								<img ng-src="{{selectedValues.community.avatarUrl}}" />
								<h3 style="line-height:1.4;" ng-bind-html="selectedValues.community.addressLine1"></h3>
								<h4 style="line-height:1.2;" ng-show="selectedValues.community.zip && selectedValues.community.city" ng-bind-html="selectedValues.community.zip + ', ' + selectedValues.community.city"></h4>
								
								<ion-google-place search-placeholder="Search..." search-type="community" button-id="btnSearchCommunity" ng-model="selectedValues.community"></ion-google-place>
								<div id="btnSearchCommunity" class="button button-round" style="top:16px;" >
									<i class="ionicons ion-search" style="font-size:28px; color:#f8f8f8;"></i>
								</div>
							</ion-item>
		                </div>
		            </label>
	    		</ion-item>

	    		<ion-item class="item-input item-accordion"  ng-show="isGroupShown(groups[2])">
	    			<label class="item item-input" style="padding-left: 0px;width:100%">
		                <div style="position: relative;width: 100%;">
		                	<i class="ionicons ion-ios-tennisball placeholder-icon icon-left" ng-class="{'true' : 'valid', 'false': 'invalid' }[profileForm.favoriteMatchId.$valid]"></i>
		                    <input type="text" name="favoriteMatchId" class="dummy" ng-model="profile.favoriteMatchId" required/>
		                    <label class="item item-icon-right header-accordion" ng-click="selectedValues.matches_expanded = !selectedValues.matches_expanded">
		                        <i class="icon icon ion-chevron-down"></i>
		                        <span style="color:rgba(255, 255, 255, 0.4);">
		                        	&nbsp; Match:&nbsp;
		                        	<span ng-show="selectedValues.match.name" style="color:#f8f8f8;"> 
		                        		{{selectedValues.match.name}}
		                        	</span>
		                        </span>
		                    </label>
		                    <div class="list list-inset list-accordion" ng-show="selectedValues.matches_expanded">
		                        <div class="list item-accordion" ng-repeat="match in matches" ng-click="selectedValues.match=match">
		                            <label class="text-align-center item-divider content" >{{courtType.name}}</label>
		                            	<div></div>
		                        </div>
		                    </div>
		                </div>
		            </label>
	    		</ion-item>

	    	</div>
    	</form>
    </ion-content>
    <tm-footer>
	</tm-footer>
</ion-view>