﻿<ion-view >
  <!--
  <tm-login-header type="resetpwd">
    </tm-login-header>
  -->
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <form class="no-margin form" role="form" novalidate="" id="resetPasswordForm" name="resetPasswordForm" autocorrect="off" autocomplete="off">
    	<div class="list list-inset row-center">
    		<label class="item item-input">
          <i class="fa fa-envelope icon placeholder-icon" ng-class="{'true' : 'valid', 'false': 'invalid' }[loginform.userName.$valid]"></i>
          <input type="email" name="userName" required placeholder="Enter E-mail" ng-model="resetPasswordData.email">
        </label>

        <div class="col col-center">
          <button type="submit" class="button" ng-class="{'true' : 'button-balanced', 'false': 'button-assertive' }[resetPasswordForm.$valid]" ng-click="resetPwd()" style="width: 100%; margin-top: 20px;">Reset password</button>
        </div>
      </div>
    </form>
  <ion-content>

<!--
  <ion-footer-bar align-title="center" no-tap-scroll="true" class="bar bar-footer">
  </ion-footer-bar>
-->
</ion-view>