<ion-view>
   <tm-header ></tm-header>
    <div class="ion-google-place-container modal">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input class="google-place-search" type="search" ng-model="searchQuery" placeholder="Enter an address, place or ZIP code">
                <i class="fa fa-circle-o-notch fa-spin" style="font-size: 20px; color:rgba(51, 51, 51, 0.25) !important;" ng-show="isLoading"></i>
            </label>
            <button class="button button-clear fa fa-times-circle" style="font-size: 22px;">
                
            </button>
        </div>
        <ion-content class="has-header">
            <ion-list>
                <ion-item ng-repeat="location in locations" type="item-text-wrap" ng-click="selectLocation(location)">
                    {{location.formatted_address}}
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
</ion-view>