<ion-view title="Signup"> 
	<!--
	<tm-login-header type="signup">
  	</tm-login-header>
  	-->
	 
	 <div ui-view ng-init="initSignup()"></div> 
	
	<!--
	<tm-login-footer type="signup" ></tm-login-footer>
	-->
</ion-view>