<ion-header-bar align-title="center" class="bar-stable bar bar-header disable-user-behavior" style="background-color:transparent">
	
	<div class="title">
		<img class="img-circle" src="../img/tennisball.png">
	</div>
	
</ion-header-bar>
<ion-content has-header="true" has-footer="true" padding="true">
	<div class="list" style="max-height: 385px;">
		<a class="item text-align-center" ng-click="toggleMenu()" ui-sref="home">
			HOME
		</a>
		<a class="item text-align-center" ng-click="toggleMenu()" ui-sref="match({cmdParam:'central'})">
			MATCH CENTRAL
		</a>
		<a class="item text-align-center" ng-click="toggleMenu()" ui-sref="match({cmdParam:'results'})">
			REGISTER RESULTS
		</a>
		<a class="item text-align-center" ng-click="toggleMenu()" ui-sref="match({cmdParam:'create'})">
			CREATE MATCH
		</a>
		<a class="item text-align-center" ng-click="toggleMenu()" ui-sref="match({cmdParam:'find'})">
			FIND MATCH
		</a>
		<a class="item text-align-center" ng-click="toggleMenu()" ui-sref="community">
			MY COMMUNITY
		</a>
		<a class="item text-align-center" ng-click="toggleMenu()" ui-sref="mates">
			MY MATES
		</a>
		<a class="item text-align-center" ng-click="toggleMenu()" ui-sref="profile">
			MY PROFILE
		</a>
		<a class="item text-align-center" ng-click="toggleMenu()" ui-sref="login">
			SIGN OUT
		</a>
		<!--TODO: Delete in Prod-->
		<!--
		<a class="item text-align-center" ng-click="toggleMenu()" ui-sref="deviceProps">
			DEVICE PROPERTIES
		</a>
		-->
	</div>
</ion-content>
<ion-footer-bar class="bar-stable bar bar-footer disable-user-behavior">
</ion-footer-bar>
