html{
  height:100%;
  background-image: url('../img/handshake-background.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

body{
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background:transparent;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

[disabled] { 
    color: #F2F2F3;
    background-color:transparent;
    border-color: #F2F2FA;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

input[disabled]{
    cursor: default !important;
}

input[type="text"]{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
  background-color: rgba(51, 51, 51, 0.4) !important;
  color:initial !important;
  -webkit-box-shadow: 0 0 0 1000px rgba(51, 51, 51, 0.4) inset;
}

a:hover, a:focus{
  /*color: inherit;*/
}


/****************************************
IONIC

*****************************************/
ion-header-bar, ion-header-bar.bar-subheader, .visible-xs.bar, ion-nav-view, ion-content, 
ion-view, ion-content, ion-content > .scroll, ion-footer-bar, .header-bar, .bar-header{
  background-color: rgba(51, 51, 51, 0.25) !important;
  border:0 !important;
  color:rgba(255, 255, 255, 0.4);
}

ion-header-bar i{
  font-size: 28px !important;
}

ion-header-bar img{
  width:44px;
}

ion-header-bar.bar-subheader{
  height: auto;
  max-height: 64px;
}

ion-content.scroll-content{

}

ion-nav-view{

}

ion-footer-bar{
  
}

ion-footer-bar .step-indicator.active{
  background: rgba(51, 51, 51, 0.25);
}

ion-footer-bar button{
  background-color: transparent !important;
  border:0 !important;
}

ion-footer-bar .button>i{
  font-size:28px !important;
}

ion-footer-bar .step-indicator{
  font-size:20px !important;
}

ion-scroll[direction=x] {
  width: 100vw;
}

ion-scroll[direction=y] {
  height: 100vh;
}

ion-item textarea {
  background-color: #f8f8f8 !important;
  color:#444;
  font-size: 12px; 
  line-height: 1.2;
  font-family: inherit;

}

ion-item select{
  width: 100%; 
  max-width: 100%; 
  background: transparent; 
  color:#f8f8f8; 
  border:0px; 
  font-size:13px; 
  height: 34px;
}

ion-item select option{
  background-color: rgb(85, 85, 85);
}

div.item-toggle > label.toggle{
  top: 0px;
}


.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
  top:65px !important;
}

#addStepWrapper{
  overflow:hidden !important;
}

.center{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.center > div.scroll{
  width: 90%;
}

.bar .button{
  background-color: transparent;
  font-size: 22px;
  color: #b2b2b2 !important;
}


.button-round {
  background: inherit;
  color: inherit;
  font-size: 24px;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.002s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;
}

.button-float {
  position: absolute !important;
  bottom: 10px !important;
  right: 10px !important;
  min-width:42px;
  min-height:44px;
  z-index: 12 !important;
}

.button-float:hover, .button-round:hover {
  -webkit-transform: translate3d(0, -1px, 0) !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
}

.button-dropdown{
  background-color: inherit;
  border-color:inherit;
  color:inherit;
  right: 16px;
  max-width: 40px;
  max-height: 40px;
  margin:3px auto;
}

.popup{
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
}

.popup-body{
  background: #444;
}

.popup-head, .popup-buttons{
  color: #11c1f3;
  font-family: inherit;
  background: #555;
}

/**************************************
ion-google-place
**************************************/
.ion-google-place-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(51, 51, 51);
    z-index: 20;
    display: none;
}


input.ion-google-place[readonly]{
    background-color: transparent;
    cursor: text;
    padding-left: 25px;
    padding-right: 0;
}

/* main layout
----------------------------------------------------------*/
.mainWrapper{
  min-width:320px;
  min-height: 480px;
  max-width: 450px;
  max-height: 750px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin:auto;
  background-color: rgba(51, 51, 51, 0.25) !important;
}

.tooltip{background:transparent !important; z-index:1;}

.slide{
  margin:4px;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}


.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}
 
.animate-enter.animate-enter-active {
    opacity: 1;
}

.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}

.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}

.modal-dialog{
    position:fixed;
    top: 50%;
    left: 50%;
    width:25em;
    margin: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.modal-body{
    overflow-y: auto;
    overflow-wrap: break-word;
    display: inline-block;
    height: 130px;
    width: 100%;
}

.modal-footer button{
    background-color:#E5E9E8;
    background-color:#E5E9E8; 
    color:#555; 
    width:40%; 
    margin:auto;
    border-color:#6C6F6E;
}

.btn-primary{
    background-color:#E5E9E8;
    border-color:#6C6F6E;
    color:#555;
}


.btn-primary:hover{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
    background-color:#E5E9E8;
    color:#555;
    border-color:#6C6F6E;
}

.fa-dropdown-addon{
  right: 0px;
  position: absolute;
  width: 32px;
  height: 29px;
  color: #e6e6e6;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 1.42857;
  padding: 7px 8px;
  box-shadow: inset 0 1px 10px #618fb0;
}

.form-actions{
    padding: 0 !important;
    width:100%;
    background: transparent;
    text-align: center;
    margin: auto;
}

span.input-group-addon+input.form-control{
  border-top-left-radius: 0 !important; 
  border-bottom-left-radius: 0 !important; 
  border-top-right-radius: 3px; 
  border-bottom-right-radius: 3px;
}

input.form-control{
    padding-left: 5px !important;

}

span.form-control{
  background: transparent;
  border: 0 none;
  -webkit-box-shadow: none;
  box-shadow: none;

}

.input-group{
    margin-bottom: 10px;
    width:100%;
}

.loader{
  background: rgba(58, 58, 58, 0.8);
  text-align: center; 
  padding-top: 50%; 
  animation-duration: 0.1s;
}

.slidemenu-backdrop{
  background:rgba(85, 85, 85, 0.95); 
  position:fixed;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform:translate3d(0,0,0);
  margin-top: 48px;
  z-index:1039;
}

.fa-checkbox{
  animation-duration: 0.5s;
  z-index: 99;
  cursor: pointer;
  padding-top: 7px;
  height: 30px;
  position: absolute;
  right: 0px;
  margin: 0px auto;
  width: 30px;
}

.fa-checkbox:hover, .fa-checkbox:focus {
  /*box-shadow: inset 0 1px 10px #618fb0;*/     
  }

span.input-control, span.form-control{
  color: #ddd !important;
  cursor: default;
}
  
i.fa.invalid, i.ionicons.invalid{
  color: #e5603b;
}

img.invalid{
  background-color: #e5603b;
}

i.fa.valid, i.ionicons.valid{
  color: #56BC76;
}

img.valid{
  background-color: #56BC76;
}

  .navbar-top{
    display: inline-flex;
    float: right;
  }

  .navbar-top .bar{
    background-color: inherit;
  }

  .navbar li:not([class*="divider"]){
    margin-left:15px;
  }

  div.navbar{
    min-height: 30px;
    max-height: 40px;
  }


  .btn-menu-open {
    display: inline-block;
    position: relative;
    text-shadow: 0 1px 0 rgb(107, 115, 105);
    color: #333;
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    border-radius: 4px;
    border: 1px solid #bcbcbc;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    box-shadow: 0 1px 3px #ccc;
    background-image: -webkit-linear-gradient(top, rgb(107, 115, 105);0%,rgba(239,239,239,1)60%,rgba(225,223,226,1)100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
}

.btn-menu-open:active,.btn-menu-open:active:after,.btn-menu-open:active:before {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: initial;
}

.btn-menu-open:hover{
  color:initial;
}

.btn-menu-on{
  color:#9bd0f6 !important;
  animation-duration: 0.2s;
}

.panel .panel-heading a[data-toggle="collapse"]:before {
  font-size:17px;
  top:-3px;
}

.row{
  margin-left:0 !important;
  margin-right:0 !important;
}

.item{
  background-color: inherit;
  border-top:0;
  border-left: 0;
  border-right: 0;
  color:inherit;
}
.item:first-child{
  margin-top: 0 !important;
}

.item-input input, .item-avatar input{
  color:#f8f8f8;
  margin-bottom: 5px;
  background-color: inherit !important;
}

.item-input label{
  margin-right: 5px;
  font-size:13px;
}

.item-input > .row{
  position: relative;
  width: 100%; 
  display: flex; 
  color:#ddd;
  margin:0;
  padding:0;
}

.item-divider{
  border: 0;
  color: #ddd;
}

.background-dark {
  background-color: transparent !important;
  background-image: radial-gradient(farthest-side ellipse at 10% 0, rgba(102, 105, 104, 0.1), rgba(93, 112, 119, 0.09), rgba(160, 174, 150, 0.1)) !important;
  background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(102, 105, 104, 0.1), rgba(93, 112, 119, 0.01), rgba(160, 174, 150, 0.1)) !important;
  background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(102, 105, 104, 0.1), rgba(93, 112, 119, 0.01), rgba(160, 174, 150, 0.1)) !important;
}

.widget{
  background: rgba(85, 85, 85, 0.92);
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.tabs-striped.tabs-top .tabs{
  background-color: transparent;
  background-image: none;
  border: none;
  color:inherit;
  position: relative;
  top: 0px !important;

}

.tabs-striped .tab-item.activated, .tabs-striped .tab-item.active{
  border-bottom: 1px solid rgb(189,199,111);
}

.tab-content{
  position: relative;
  width: 100%;
  margin-top: 0px;
  padding: 5px 0 !important;
  background: transparent !important;
}

.scroll-bar-v{
  right:0px;
}

.list, .list-inset{
  background-color: transparent;
  margin-top: 5px;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.list.list-accordion{
  margin: 0;
  background: #666;
  color: #f8f8f8;
}

.list-accordion.typeahead{
  min-height: 45px; 
  background: rgba(0, 0, 0, 0.025);
  display: inline-table;
}

.item-accordion>.item-avatar{
  color:#ddd; 
  padding-left: 48px; 
  min-height: 48px;
  padding-top: 5px;
  border-bottom: 0;
}

.item-accordion>.item-divider{
  padding: 10px;
  width: 100%;
  color: inherit;
  font-size: 13px;
  background: #555;
  display: inline-block;
  z-index: 99;
}

.item-accordion>.item-avatar>.content{
  padding: 0 !important;
}

.item-accordion-typeahead{
  padding: 10px 10px; 
  font-size: 13px; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); 
  width: 100%;
}

.item-accordion-typeahead:first-child, .item-accordion-typeahead:last-child{
  border-bottom: 0; 
}

.item-icon-right .icon{
  right: 0px;
  font-size: inherit;

}

.header-accordion{
  padding: 10px 35px;
  border-color: rgba(0, 0, 0, 0.14902); 
  color: rgb(248, 248, 248); 
  font-size: 13px; 
  background-color: transparent;
  border-bottom: 0;
}

.placeholder-icon.icon-left{
  position: absolute;
  z-index: 99;
  margin: 12px 10px;
  padding-right: 5px;
}

.item-toggle .toggle {
  right: 3px;
}

.range{
  color: #f8f8f8;
  font-size: 13px;
}

.range label{
  color:rgba(255, 255, 255, 0.4);
  font-size: 13px;
}

.range input{
  height: 34px;
}

.range i.fa{
  font-size: 18px;
  margin-top: -5px;
}

div.range{
  border-bottom: 0;
}

div.range i.fa{
  font-size: 20px;
}

.img-circle {
  border-radius: 50%;
}
/********************************************************
Pageslide menu
*********************************************************/

 .ng-pageslide {
      background: #333;
      margin: 4px 0;
      z-index:1041 !important;
  }

  body.ng-pageslide-body-open::before {
      content: '.';
      display: block;
      position: absolute;
      top: 0;
      background-color: rgb(0,0,0);
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0.5;
      transition: opacity 1s;
  }

  body.ng-pageslide-body-closed::before {
      transition: opacity 1s;
      opacity: 0;
      content: '.';
      display: block;
      position: absolute;
      top: 0;
      background-color: rgb(0,0,0);
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      pointer-events: none;
  }

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: inherit;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
.user-image{ 
  min-height: 70px; 
  max-height: 120px; 
  margin:0;
}
.user-image > .user{height:100px; width:100px; border-radius:50%; border:solid 8px #e1e1e1; line-height:85px !important; color:#e1e1e1; font-size:50px !important}

#login-form{
    
    width:inherit;
    max-height: 480px;
   /* margin: 0 auto;*/
}

#login-form .label{display: inline-block; font-weight:normal !important; position: relative;  padding-top: 30px;  transform: translateY(-50%); padding-left:3px; font-size: 13px !important; color:inherit !important;}

#login-form .form-header{display:table; clear:both; width:100%; padding:0px;}
#login-form .form-header li{display:inline-block; line-height:40px; max-width:100%; width:inherit; margin:0px; text-align:center; background:transparent;}
#login-form .form-header li:nth-child(even){width:50px; margin:0 0;}

#login-form .form{text-align: center; width: 100%;}
#login-form .form fieldset{position:relative; margin: 0 auto;max-width: 380px;}
#login-form .login{list-style: none; padding:0px;}
#login-form .login li{height:35px; line-height:35px; margin-bottom:15px; text-align: center; }
#login-form .input:focus:invalid{/*border-color:red*/}
#login-form .input:focus:valid{/*border-color:green*/}

#login-form .message{-webkit-transition: all linear 0.5s;transition: all linear 0.5s;line-height: 20px;opacity: 1;padding: 10px; position:absolute; bottom:0px; left:0px; width:100%; height:32px; display:inline-block;}
#login-form .message.ng-hide {-webkit-transition: all linear 0.5s; transition: all linear 0.5s; opacity:0;line-height: 0px;padding: 0 10px;}

#check{top:2px; position:relative; margin:0px 5px 0px 5px; }
#login-form .centered{text-align: center; float:none !important; padding:0 !important; border:0 none; background:transparent;-webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; transform-style: preserve-3d;}
#login-form .signin{height:40px; width:100%;}

#login-form .social-login{border:1px solid #555; background:transparent;display:inline-block; height:35px; width:35px; margin:0 3px; text-decoration:none; color:#FFFFFF}

#login-form .fb{background:#305891} 
#login-form .tw{background:#2ca8d2} 
#login-form .gp{background:#ce4d39} 
#login-form .in{background:#48A0C6} 
#login-form .yh{background:#40038C;} 
#login-form .wl{background:#0CB3EE;}
#login-form .form-footer{height:40px; line-height:35px; padding:3px 35px; font-size:14px;background-color: #e8e8e8 ;}
#login-form .form-footer span{margin:0px; padding: 0px 20px 0px 0px;}
#login-form .form-footer a, .form-footer a:hover, .form-footer a:visited, .form-footer a:focus{text-decoration:none; background: transparent; color:#666; transition:all .3s;}

.password-toggle {
    position:relative;
    display:block;
    user-select: none;
    width: 100%;
}
.password-toggle  a {
    opacity:.5;
    cursor:pointer;
    display:inline-block;
    position:absolute;
    font-size:19px;
    z-index:999;
    -webkit-tap-highlight-color:transparent;
    top: 0px;
 }
/*.password-toggle [type="text"] + a {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23444' d='M29.6.4C29 0 28 0 27.4.4L21 6.8c-1.4-.5-3-.8-5-.8C9 6 3 10 0 16c1.3 2.6 3 4.8 5.4 6.5l-5 5c-.5.5-.5 1.5 0 2 .3.4.7.5 1 .5s1 0 1.2-.4l27-27C30 2 30 1 29.6.4zM13 10c1.3 0 2.4 1 2.8 2L12 15.8c-1-.4-2-1.5-2-2.8 0-1.7 1.3-3 3-3zm-9.6 6c1.2-2 2.8-3.5 4.7-4.7l.7-.2c-.4 1-.6 2-.6 3 0 1.8.6 3.4 1.6 4.7l-2 2c-1.6-1.2-3-2.7-4-4.4zM24 13.8c0-.8 0-1.7-.4-2.4l-10 10c.7.3 1.6.4 2.4.4 4.4 0 8-3.6 8-8z'/%3E%3Cpath fill='%23444' d='M26 9l-2.2 2.2c2 1.3 3.6 3 4.8 4.8-1.2 2-2.8 3.5-4.7 4.7-2.7 1.5-5.4 2.3-8 2.3-1.4 0-2.6 0-3.8-.4L10 25c2 .6 4 1 6 1 7 0 13-4 16-10-1.4-2.8-3.5-5.2-6-7z'/%3E%3C/svg%3E");
}
.password-toggle [type="password"] + a {
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23444' d='M16 6C9 6 3 10 0 16c3 6 9 10 16 10s13-4 16-10c-3-6-9-10-16-10zm8 5.3c1.8 1.2 3.4 2.8 4.6 4.7-1.2 2-2.8 3.5-4.7 4.7-3 1.5-6 2.3-8 2.3s-6-.8-8-2.3C6 19.5 4 18 3 16c1.5-2 3-3.5 5-4.7l.6-.2C8 12 8 13 8 14c0 4.5 3.5 8 8 8s8-3.5 8-8c0-1-.3-2-.6-2.6l.4.3zM16 13c0 1.7-1.3 3-3 3s-3-1.3-3-3 1.3-3 3-3 3 1.3 3 3z'/%3E%3C/svg%3E");
}*/
.fa-eye-slash, .fa-eye{
    color: #f8f8f8;
}

.fa-chevron-circle-left, .fa-chevron-circle-right {
  color: #9BA993;
}
/* Signup
----------------------------------------------------------*/
.signUpForm{min-height: 270px; max-height: 295px; position:relative;}
.signUpForm .navigation-bar{/*height:36px; width: 100%;left: 0;right: 0;margin: auto;display: inline-block; padding-top: 25px;*/}
.signUpForm .spacer {width:26px; background:transparent}
#signup-form .message {position: absolute; padding-bottom: 5px; width: 100%;}
#signup-form .message>span{padding:3px;width: 100%;}
#signup-form .error{font-weight: bold; box-shadow: inset 0 1px 10px #e5603b;text-align: center;}

#signUpForm2 input[type="text"], #signUpForm2 input[type="number"], 
#signUpForm2 input[type="email"], #signUpForm2 input[type="password"]{
  font-size:13px; 
  max-height:34px; 
  color:#f8f8f8;
}

#signUpForm2 .input-gender{
    text-align: right;
    padding-right: 20%;
    background-color: #666;
}

.dummy, .dummy:focus{
  height:1px !important;
  width:1px !important; 
  background: transparent !important;
  float: left;
  color:transparent !important; 
  border:0; 
  z-index:-999; 
  visibility: hidden !important;
  position:absolute;
}


#signUpForm2 .gender, #signUpForm3 .gender, #profileForm .gender{
    color: #E5E9E8;
    font-size: inherit;
    cursor:pointer;
}

#signUpForm2 .nick-active, .fa-dropdown-addon-active{
    box-shadow: inset 0 1px 10px #e5603b !important;
}

#signUpForm2 .gender-active, #profileForm .gender-active
{
  box-shadow: inset 0 1px 10px #618fb0;
}

#signUpForm3 label{
  font-size:13px;
}

#signUpForm3 .eula, #signUpForm3 .eula-valid{
    cursor:pointer;
}

#signUpForm3 .eula:hover, #signUpForm3 .eula:focus, #signUpForm3 .eula-invalid{
    box-shadow: inset 0 1px 10px #e5603b;
}

#signUpForm3 ion-scroll{
  /*max-height: 280px;*/
}

#signUpForm2 .gender.active, #signUpForm3 .gender.active, #profileForm .gender-active{
    color: #FFFFFF;
    font-weight: bold;
}

#gender.btn-primary:hover{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
    background-color:#E5E9E8;
    color:#555;
    border-color:#6C6F6E;
}

.btn-wizard{font-size:25px; margin: auto 10px; vertical-align: middle; color: #9BA993;}
.btn-wizard:hover, .btn-wizard:visited{color: #9BA993; text-decoration: none;}
.btn-wizard-validate{background-color:transparent; color:transparent; border:none;float:right; width:1px; height:1px;cursor: default;}
.step-indicator{padding:10px 5px; width: 16px; margin: auto;}


.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:100% !important;}
.open > .dropdown-menu{width:100%;}
.open > div.dropdown-menu {min-height: 220px !important;}


/* Profile */
/*------------------------------------------------------------*/
.open > .support, .open > .messages{
  width: auto;
  max-width: 270px;
  min-width: 170px;
  max-height: 220px;
  min-height: 75px;
}

.open > .support li{
  text-overflow: ellipsis;
}

#profileForm span.btn-default, #profileForm div.btn-default{
  background-color:rgba(51, 51, 51, 0.4);
}

#profileForm .input-gender{
  background-color: rgba(51, 51, 51, 0.4);
}

#profileForm .selectize-control > .selectize-dropdown{
  width: 90%;
  max-height: 125px;
  z-index: 1043;
}

#profileForm .btn-profile-submit{
  background-color: #618fb0;
  border-color: #5383a5;
  color: #fff;
}

/* media queries
----------------------------------------------------------*/
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px)
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (height: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .scroll-view.ionic-scroll{
    max-height: 225px;
  }
}

/* Portrait */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px)
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (height: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px)
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (height: 320px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (min-height: 567px)
  and (max-height: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .scroll-view.ionic-scroll{
  }

  .login-widget header{
    margin: 15px 0 5px 0;
  }

}

/* Portrait */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (min-height: 567px)
  and (max-height: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (min-height: 567px)
  and (max-height: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px)
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  .widget {
    margin: 0 auto;
    height: 600px;
  }

  .scroll-view.ionic-scroll{
    max-height: 280px;
  }

}

/* Portrait */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px)
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px)
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px)
  and (device-width: 360px) 
  and (device-height: 640px)  
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/********************************************************
Desktop
*********************************************************/
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {

}