<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, height=device-height" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
  	<meta charset="utf-8">
    <meta name="robots" content="noindex, follow">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    

    <title>Tennismate App</title>
    <link rel='stylesheet' href='lib/ionic/css/ionic.css'>
    <link rel='stylesheet' href='css/font-awesome.min.css' />
    <link rel='stylesheet' href='css/themeblue.css' />
    <link rel='stylesheet' href='css/styles.css' />
    
    <link href='img/favicon.png' type='image/x-icon' rel='shortcut icon' />
    <link href='img/favicon.png' type='image/x-icon' rel='apple-touch-icon' />     

    <!--[if lt IE 9]>  
      <script type='text/javascript' src='//html5shim.googlecode.com/svn/trunk/html5.js'></script>  
    <![endif]-->  

    <script type='text/javascript' src="lib/jquery/dist/jquery.min.js"></script>
    <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?language=en-us&libraries=geometry,places"></script>
    <!--
    <script type='text/javascript' src="lib/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script type='text/javascript' src="lib/jquery-pjax/jquery.pjax.js"></script>
    <script type='text/javascript' src="lib/widgster/widgster.js"></script>
    <script type='text/javascript' src="lib/underscore/underscore.js"></script>
    -->
    <script type='text/javascript' src="lib/azure-mobile-services/MobileServices.Web-1.2.7.min.js"></script>
    <script type='text/javascript' src='lib/cryptojs/aes.js'></script>
    <script type='text/javascript' src="lib/cryptojs/aes-padding.js"></script>
    <script type='text/javascript' src="lib/ionic/js/ionic.bundle.js"></script>
    <script type='text/javascript' src="lib/moment/moment.js"></script>
    
    <script type='text/javascript' src='lib/jLinq/jLinq.js'></script>
    <script type='text/javascript' src='lib/angular-local-storage/angular-local-storage.min.js'></script>
    <script type='text/javascript' src='lib/angular-cordova/ng-cordova.min.js'></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    
    <script type='text/javascript' src='App/Modules/Modules.js'></script>
    <script type='text/javascript' src='App/Services/Services.js'></script>
    <script type='text/javascript' src='App/Directives/Directives.js'></script>
    <script type='text/javascript' src='App/Controllers/Controllers.js'></script>

    

  	<script type='text/javascript'>
      document.write("<base href='' + document.location + '' />");
      document.addEventListener('touchstart', function(){}, true); 
      document.addEventListener('deviceready', function () {
        $(document.body).height(window.innerHeight);
      }, false);
      document.addEventListener('focusout', function(e) {window.scrollTo(0, 0)});
    </script>
  </head>
  <body ng-app="tmApp" ng-controller="indexController">
    <div class="loader animated handle ui-sortable-handle fadeIn modal-backdrop" ng-class="{'fadeOut hide' : !msgFlag || systemMessage.suppressed}" >
      <i class="fa fa-circle-o-notch fa-spin" style="font-size: 20px;color: #4ab0ce;" ng-show="isLoading && !systemMessage.error"></i>
      <span class="text-align-center" style="line-height: inherit;font-size: 13px;margin: 0 auto; padding-left:5px;">
        <p style="color:#4ab0ce;font-weight:300;" ng-show="systemMessage.info" ng-bind-html="systemMessage.info"></p>
        <p style="color:#e5603b; font-weight:800;" ng-show="systemMessage.error" ng-bind-html="systemMessage.error"></p>
        <p style="color:#eac85e;font-weight:600;" ng-show="systemMessage.warning" ng-bind-html="systemMessage.warning"></p>
        <p style="color:#56bc76;font-weight:500;" ng-show="systemMessage.success" ng-bind-html="systemMessage.success"></p>
      </span>
    </div>
    <div id="backdrop" class="loader slidemenu-backdrop handle animated fadeIn modal-backdrop" aria-hidden="true" ng-show="$root.menuOpen" ng-click="$root.menuOpen=!$root.menuOpen"></div>
    <pageslide ps-open="menuOpen" ps-side="left" ps-size="84%">
      <div tm-slide-menu></div>
    </pageslide>
    <div class="mainWrapper" ng-cloak>
      <ion-nav-view nav-direction="enter"></ion-nav-view>
    </div>
  </body>
</html>